*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 50px;
    text-shadow: 5px 5px 10px gray;
}
.style{
    color:rgb(30,144,255);
}
.wrapper{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
section.first{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
}
.nev{
    float: right;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 22px;
    color: white;
}

.wrapper img{
    width: 100%;
}
.second{
    height: 400px;
    margin-bottom: 150px;
    margin-top: 50px;
}
.button{
    background-image: linear-gradient(rgb(0,191,255),rgb(135,206,250));
    padding: 10px 20px;
    border:indigo;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.third{
    height: 400px;
    margin-bottom: 50px;
}

p{
    padding-bottom: 30px;
    color: gray;
}
.fourth{
    width: 100%;
    height: 700px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: rgba(192, 192, 192, 0.644);
}
.main h1{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    padding-top: 100px;
    
}
.pic{
    width: 300px;
    height: 400px;
    float: left;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 20px 40px gray;
    
}
.all{
    margin-left: 110px;
    margin-top: 100px;
}
pic img{
    padding: 10px;
}
article h3{
    text-align: center;
    margin: 15px 0px;
}
article p{
    margin: 10px;
}
.box{
    margin: 100px auto;
    width: 810px;
    height: 200px;
    border: 1px solid rgba(0, 0, 255, 0.479);
    border-radius: 28px;
    background-image: url(shapes/box.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 20px 20px gray;
}
.box h2{
    color: white;
    margin-left: 50px;
    margin-top: 80px;
}
.box a{
    margin-left:600px;
    margin-top: 70px;
}
.icons{
    width: 600px;
    height: 300px;
    margin: 100px auto;
}
.icons h3{
    text-align: center;
    padding-bottom: 20px;
}
.icons h1{
    text-align: center;
    padding-bottom: 20px;
}
.ball{
    margin-left: 50px;
}

